## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

/tmp/ipykernel_80638/3125967289.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
2024-01-25 20:04:42.851622: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-01-25 20:04:42.871810: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-25 20:04:42.871827: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-25 20:04:42.872333: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-25 20:04:42.875553: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-25 20:04:43.234034: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# keeping name, try to improve model 
application_df.drop(['EIN'],axis=1,inplace=True)

In [3]:
counts_name = application_df['NAME'].value_counts()
counts_name

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [4]:
names_replace = list(counts_name[counts_name<5].index)
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                       403
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1'
value_counts = application_df['CLASSIFICATION'].value_counts()
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['unique_values', 'counts for course_difficulty'] # change column names
for index, row in df_value_counts.iterrows():
    if row['counts for course_difficulty'] > 1:
        print(row['unique_values'], row['counts for course_difficulty'])

C1000 17326
C2000 6074
C1200 4837
C3000 1918
C2100 1883
C7000 777
C1700 287
C4000 194
C5000 116
C1270 114
C2700 104
C2800 95
C7100 75
C1300 58
C1280 50
C1230 36
C1400 34
C7200 32
C2300 32
C1240 30
C8000 20
C7120 18
C1500 16
C1800 15
C6000 15
C1250 14
C8200 11
C1238 10
C1278 10
C1235 9
C1237 9
C7210 7
C2400 6
C1720 6
C4100 6
C1257 5
C1600 5
C1260 3
C2710 3
C0 3
C3200 2
C1234 2
C1246 2
C1267 2
C1256 2

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = []
for index, row in df_value_counts.iterrows():
    if row['counts for course_difficulty'] < 2:
        classifications_to_replace.append(row['unique_values'])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
print(len(X_train_scaled[0]))

487

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train_scaled[0])
#iput layer
nodes_layer_in = 80
#middle layers
nodes_layer1 = 30

#output layer
nodes_layer_out = 1

nn = tf.keras.models.Sequential()

#Hidden layers
nn.add(tf.keras.layers.Dense(units = nodes_layer_in, input_dim = num_input_features, activation ="relu"))
nn.add(tf.keras.layers.Dense(units = nodes_layer1, activation ="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units = nodes_layer_out, activation ="sigmoid"))
# Check the structure of the model
nn.summary()

2024-01-25 20:05:02.932713: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                39040

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 41501 (162.11 KB)
Trainable params: 41501 (162.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

2024-01-25 20:05:02.947691: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:02.947717: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:02.950873: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:02.950924: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:02.950943: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:03.018850: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:03.018881: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:03.018885: I tensorflow/core/common_runtime/gpu/gpu_device.cc:2022] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-01-25 20:05:03.018903: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 20:05:03.018914: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 21472 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4090, pci bus id: 0000:01:00.0, compute capability: 8.9

In [16]:
# Compile the model
opt = tf.keras.optimizers.Adam()
nn.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])

In [17]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

2024-01-25 20:05:12.799793: I external/local_tsl/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: Permission denied
2024-01-25 20:05:12.988846: I external/local_xla/xla/service/service.cc:168] XLA service 0x7f8e70446790 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-01-25 20:05:12.988871: I external/local_xla/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 4090, Compute Capability 8.9
2024-01-25 20:05:12.991791: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-01-25 20:05:13.000535: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:454] Loaded cuDNN version 8904
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1706231113.033237   80891 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

804/804 [==============================] - 3s 3ms/step - loss: 0.4706 - accuracy: 0.7760
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7954
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4229 - accuracy: 0.7980
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7989
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7996
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.8008
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8006
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8014
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8022
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4114 - accuracy: 0.8016
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8027
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8025
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8040
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4080 - accuracy: 0.8043
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4077 - accuracy: 0.8042
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8036
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8054
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4061 - accuracy: 0.8037
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8052
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8050
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8059
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8068
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8052
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8059
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8071
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8069
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8052
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8069
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8069
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4007 - accuracy: 0.8082
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4010 - accuracy: 0.8071
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3999 - accuracy: 0.8081
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3995 - accuracy: 0.8078
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3998 - accuracy: 0.8083
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3991 - accuracy: 0.8077
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3988 - accuracy: 0.8080
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3985 - accuracy: 0.8088
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3984 - accuracy: 0.8090
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3979 - accuracy: 0.8096
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3983 - accuracy: 0.8092
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3978 - accuracy: 0.8094
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3978 - accuracy: 0.8078
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3973 - accuracy: 0.8090
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3973 - accuracy: 0.8084
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3971 - accuracy: 0.8083
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3968 - accuracy: 0.8095
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3967 - accuracy: 0.8101
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3965 - accuracy: 0.8092
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3960 - accuracy: 0.8094
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3958 - accuracy: 0.8101
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3960 - accuracy: 0.8097
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3956 - accuracy: 0.8099
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3954 - accuracy: 0.8095
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3953 - accuracy: 0.8099
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3950 - accuracy: 0.8097
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8102
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3949 - accuracy: 0.8103
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3947 - accuracy: 0.8104
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3945 - accuracy: 0.8105
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3943 - accuracy: 0.8103
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3944 - accuracy: 0.8092
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3941 - accuracy: 0.8110
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3944 - accuracy: 0.8103
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3943 - accuracy: 0.8103
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3942 - accuracy: 0.8100
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3938 - accuracy: 0.8097
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3940 - accuracy: 0.8101
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8105
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8113
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8110
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3935 - accuracy: 0.8108
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8108
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8096
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8106
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3932 - accuracy: 0.8099
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3932 - accuracy: 0.8102
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3930 - accuracy: 0.8110
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3929 - accuracy: 0.8114
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3925 - accuracy: 0.8120
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8114
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8115
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3931 - accuracy: 0.8118
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8113
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3930 - accuracy: 0.8115
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8115
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8111
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3922 - accuracy: 0.8115
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3921 - accuracy: 0.8110
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8121
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8115
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8114
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8115
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3924 - accuracy: 0.8120
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3924 - accuracy: 0.8113
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3921 - accuracy: 0.8118
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3921 - accuracy: 0.8120
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8127
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8113
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8116
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8117

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4655 - accuracy: 0.7879 - 372ms/epoch - 1ms/step
Loss: 0.4654858112335205, Accuracy: 0.7878717184066772

In [19]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_v3.h5')

/home/zw3/.local/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(