## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

/tmp/ipykernel_55459/3125967289.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
2024-01-25 19:10:57.450216: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-01-25 19:10:57.468610: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-25 19:10:57.468626: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-25 19:10:57.469098: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-25 19:10:57.472097: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-25 19:10:57.839532: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'],axis=1,inplace=True)

In [3]:
counts_name = application_df['NAME'].value_counts()
counts_name

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [4]:
names_replace = list(counts_name[counts_name<5].index)
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                       223
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1'
value_counts = application_df['CLASSIFICATION'].value_counts()
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['unique_values', 'counts for course_difficulty'] # change column names
for index, row in df_value_counts.iterrows():
    if row['counts for course_difficulty'] > 1:
        print(row['unique_values'], row['counts for course_difficulty'])

C1000 17326
C2000 6074
C1200 4837
C3000 1918
C2100 1883
C7000 777
C1700 287
C4000 194
C5000 116
C1270 114
C2700 104
C2800 95
C7100 75
C1300 58
C1280 50
C1230 36
C1400 34
C7200 32
C2300 32
C1240 30
C8000 20
C7120 18
C1500 16
C1800 15
C6000 15
C1250 14
C8200 11
C1238 10
C1278 10
C1235 9
C1237 9
C7210 7
C2400 6
C1720 6
C4100 6
C1257 5
C1600 5
C1260 3
C2710 3
C0 3
C3200 2
C1234 2
C1246 2
C1267 2
C1256 2

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = []
for index, row in df_value_counts.iterrows():
    if row['counts for course_difficulty'] < 2:
        classifications_to_replace.append(row['unique_values'])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
print(len(X_train_scaled[0]))

307

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train_scaled[0])
#iput layer
nodes_layer_in = 20
#middle layers
nodes_layer1 = 10
#output layer
nodes_layer_out = 1

nn = tf.keras.models.Sequential()

#Hidden layers
nn.add(tf.keras.layers.Dense(units = nodes_layer_in, input_dim = num_input_features, activation ="relu"))
nn.add(tf.keras.layers.Dense(units = nodes_layer1, activation ="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = nodes_layer_out, activation ="sigmoid"))
# Check the structure of the model
nn.summary()

2024-01-25 19:11:17.316412: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                6160

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 6381 (24.93 KB)
Trainable params: 6381 (24.93 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

2024-01-25 19:11:17.327655: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.327702: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.329857: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.329893: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.329911: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.460356: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.460387: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.460391: I tensorflow/core/common_runtime/gpu/gpu_device.cc:2022] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-01-25 19:11:17.460409: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-25 19:11:17.460423: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 21472 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4090, pci bus id: 0000:01:00.0, compute capability: 8.9

In [16]:
# Compile the model
opt = tf.keras.optimizers.Adam()
nn.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])

In [17]:
# Train the model
with tf.device('/GPU:0'):
    fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

2024-01-25 19:11:18.345763: I external/local_tsl/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: Permission denied
2024-01-25 19:11:18.530991: I external/local_xla/xla/service/service.cc:168] XLA service 0x7f47587632c0 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-01-25 19:11:18.531019: I external/local_xla/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 4090, Compute Capability 8.9
2024-01-25 19:11:18.533869: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-01-25 19:11:18.541910: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:454] Loaded cuDNN version 8904

  1/804 [..............................] - ETA: 9:46 - loss: 0.7063 - accuracy: 0.4062

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1706227878.574863   55697 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

804/804 [==============================] - 3s 2ms/step - loss: 0.4977 - accuracy: 0.7604
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4409 - accuracy: 0.7863
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4353 - accuracy: 0.7877
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4335 - accuracy: 0.7887
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7886
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4312 - accuracy: 0.7901
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7905
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7900
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4296 - accuracy: 0.7900
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7918
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7916
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7915
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7916
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7928
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7917
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4252 - accuracy: 0.7930
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7939
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7931
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7927
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7936
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7936
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7941
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4231 - accuracy: 0.7939
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7948
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7949
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7939
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7952
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7940
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7944
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7943
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7947
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7950
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7966
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7945
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7953
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7956
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7959
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7962
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7959
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7961
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7956
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7960
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7951
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7961
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7963
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7965
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7959
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7963
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7963
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7971
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7981
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7972
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7969
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7969
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7971
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7968
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7974
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7970
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7980
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7966
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7968
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7973
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7973
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7989
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7970
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7980
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7975
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7973
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7973
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.7975
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7975
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7974
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7984
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7981
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7973
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7977
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.7980
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7987
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7975
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.7981
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.7984
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.7986
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7977
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.7985
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.7982
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7988
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.7991
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.7984
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7982
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7988
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.7985
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.7984
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7986
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.7992
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.7984
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4139 - accuracy: 0.7991
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.7990
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.7993
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.7989
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.7995

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4763 - accuracy: 0.7769 - 369ms/epoch - 1ms/step
Loss: 0.4763089716434479, Accuracy: 0.7769096493721008

In [20]:
# Export our model to HDF5 file
nn.save('charity_export_v3.h5')